/*!CK:2578265373!*//*1458254548,*/

.sp__s-0p0dSUKG{background-image:url(/rsrc.php/v2/yv/r/zVLkUOhQ7r2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:15px;width:15px}.sp__s-0p0dSUKG.sx_5995d7{width:9px;height:9px;background-position:0 -31px}.sp__s-0p0dSUKG.sx_84d1bd{background-position:0 0}.sp__s-0p0dSUKG.sx_8ee43d{width:10px;height:14px;background-position:0 -16px}

#bootloader_phGo6{height:42px;}.bootloader_phGo6{display:block!important;}