/*!CK:1398811469!*//*1458045811,*/

._4i3e{padding-bottom:8px}._5tfa{margin:2px 0 2px 4px;max-width:265px;overflow:hidden;text-overflow:ellipsis}
._yt4{padding:5px 0 3px 0}
._5n2b{margin-bottom:10px}._5n2b ._5if4{height:36px;min-height:63px;padding-bottom:0}

#bootloader_ErLEx{height:42px;}.bootloader_ErLEx{display:block!important;}