<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

	<head>
		<title>Search app</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/searchapp.css' %}" /> <!-- CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</head>

	<body>
		<ul>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="/searchapp/profile">Profile</a></li>	
		</ul>
	
		<div class="container" style="max-width:1050px">
		
			<div>
				<form id="searchform" method="post" class="input-area" >{% csrf_token %}
					<input type="text" name="search" class="input-box" size="80" placeholder="Type symptoms" autofocus>
					<button class="submit" type="submit">SEARCH</button>
				</form>
				<p id="success"></p>
			</div> 
		

			<div id="resulid" class="unhidden" style="max-width:335px" >
				<ul id="reul">
					<li><a id="4" onclick="activate('4')">Bing</a></li>
					<li><a id="3" onclick="activate('3')">MedlinePlus</a></li>
					<li><a id="2" onclick="activate('2')">HealthFinder</a></li>
					<li><a id="1" class="active" onclick="activate('1')">All</a></li>
				</ul>
			</div>
		
			<hr id="line">
		
		</div> <!-- /container -->
		
		<p id="error">{{error}}</p>
		<p id="error">{{result}}</p>
		
		<div id="dict_results">
			{% for key, value in data %}
				<a href={{ value }}> {{ value }}</a> <br>
			{% endfor %}
		</div>

<!--	<script>
		vph = $(window).height();
		$('').css({'max-height': vph/3})
		$(document).ready(function(){
		resizeDiv();
		});

		window.onresize = function(event) {
		resizeDiv();
		}
	</script>-->

	</body>
	
</html>
