<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

	<head>
		<title>Log in</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- The browser will (probably) render the width of the page at the width of its own screen -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap (CSS) -->
		<link rel="stylesheet" href="{% static 'css/searchapp.css' %}" /> <!-- CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- JQuery -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap (JS) -->
		<script src="{% static 'js/script.js' %}"></script> <!-- JS -->
	</head>
	
	<body class="login_signup">
		<h2 class="align_center">
		
			<div class="container">
				<img src="{% static 'images/logo.png' %}" alt="HealthMate" height="5%" width="100%">
				<form method="post" class="form-signin" onsubmit="return ValidLogForm(this);">{% csrf_token %}
					<h2 class="form-signin-heading">Please Log in</h2>
					<input type="text" name="username" class="form-control" placeholder="Username*" autofocus> <p id="user_error"></p>
					<input type="password" name="pass" class="form-control" placeholder="Password*"> <p id="password_error"></p>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
				</form>
				<p>{{error}}</p>
				<p>You do not have a profile? You can <a href="/searchapp/signup">Sign up now.</a> </p>
			</div> <!-- Container with the LOGIN form -->
			
			<div class="footer">
				<ul class="ul_top">
					<li><a onclick="contactus()"><p class="font_3">Contact</p></a></li>
					<li><a data-toggle="aboutpopoverup"><p class="font_3">About</p></a></li>
					<p></p>
					<p class="font_1"> Copyright © 2016 K. Rusev, V. Bardarski, J. Yordanova, E. Alexandrova </p>
				</ul>
			</div> <!-- Copyright -->
			
		</h2>
	</body>
	
</html>
