<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

	<head>
		<title>Log out</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/searchapp.css' %}" /> <!-- CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</head>
	
	<body id="logout_background">
		<h1 align="center">Successfully logged out.</h1>
		<h4 align="center">Thank you for using this website.</h4>
		<div class="back" align="center">
			<a href="/searchapp/login" target="_parent"><button type="button" class="btn btn-default">GO BACK</button></a>
			<div id="footer">
				<ul class="ul_top">
					<li><a onclick="contactus()"><font size="3" id="user_error">Contact</font></a></li>
					<li><a data-toggle="aboutpopoverup"><font size="3" id="user_error">About</font></a></li>
					<font size="1" align="center"> Copyright © 2016 K. Rusev, V. Bardarski, J. Yordanova, E. Alexandrova </font>
				</ul>
			</div>
		</div>
	</body>

</html>
