<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

	<head>
		<title>Sign up</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="searchapp.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
		
	</head>
		
	<body>
		<h1 align="center">WELCOME TO</h1>
		<h2 align="center">Health Search Application</h2>
		<hr COLOR="grey">
		<h2 align="center">

		<div class="container" style="max-width:400px">
			<form method="post" class="form-signin" onsubmit="return ValidSignForm(this);">{% csrf_token %}
				<h2 class="form-signin-heading">Please Sign Up</h2>
				<input type="text" name="username" class="form-control" placeholder="Username*" autofocus> <font size="2" id="user_error">{{user_error}}</font>
				<input type="text" name="firstname" class="form-control" placeholder="First name">
				<input type="text" name="lastname" class="form-control" placeholder="Last name">
				<input type="password" name="password" class="form-control" placeholder="Password*"> <font size="2" id="password_error"></font>
				<input type="text" name="email" class="form-control" placeholder="Email*"> <font size="2" id="email_error"></font>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
			</form>
			<p>{{error}}</p>
		</div> <!-- /container sign  -->

		<div class="back" align="center">
			<a href="/searchapp/login" target="_parent"><button type="button" class="btn btn-default">GO BACK</button></a>
		</div>
	</body>

</html>
