<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

	<head>
		<title>Thank you!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/searchapp.css' %}" /> <!-- CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="{% static 'js/script.js' %}"></script>
	</head>
	
	<body id="logout_background">
		<h1 align="center">Successfully sent.</h1>
		<h4 align="center">We will get to you as soon as possible.</h4>
	</body>

</html>
